<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="icon" href="https://play-lh.googleusercontent.com/kpMAHoFE7T_ccji5-P1I6njm7tufDzFHFPTPUDstve1L1_3hKHU29_bu8kZASVSiGOnIpqyG4CmAcib7Kzh8Vg=w240-h480-rw" type="image/png">

</head>
<body>
    <header>
        <h1>Uma Sim</h1> <!-- Changed -->
        <nav>
            <a href="/">Home</a>
            <a href="/horses">Horses</a>
            <a href="/races">Races</a>
            <a href="/support-cards">Support Cards</a>
            <a href="/sparks">Sparks</a>
            <a href="/races-horses">Horses-Races Matrix</a> <!-- Changed -->
            <a href="/horses-sparks">Sparks-Horses Matrix</a> <!-- Changed -->
             <a href="/reset" style="color: red;">Reset Database</a> <!-- Changed -->
        </nav>
        <hr>
    </header>

    {{{body}}} <!-- This is where each page’s content will go -->

    <footer>
        <hr>
        <p>&copy; 2025 Team Uma Sim. All character designs and other intelectual property belong to Cygames, Inc.</p> <!-- Changed -->
    </footer>
</body>
</html>
